<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- CSS Files -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/navbar.css" />

        <!-- JS Files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <title>Ticketsystem: Account</title>
    </head>
    <body>
        <%- include('../components/navbar'); %>
        <br />
        <div style="margin-left: 10px">
            <h1>Welcome <%= user.first_name %> <%= user.last_name %></h1>
            <br />
            <div style="font-size: 20px">
                <div>Account Details:</div>
                <div>User ID: <%= user.account_id %></div>
                <div>E-Mail: <%= user.email %></div>
                <div>First Name: <%= user.first_name %></div>
                <div>Last Name: <%= user.last_name %></div>
                <div>Address: <%= user.street %> <%= user.house_number %>, <%= user.zip_code %> <%= user.city %></div>
                <div>Role: <%= role.role_type %></div>
                <div>RoleID: <%= role.role_id %></div>
            </div>
        </div>
    </body>
</html>
